%% -*- erlang -*-
%% Config file for iio nif library application
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{port_env, [
		{"STRIP", "bfin-linux-uclibc-strip"},
		{"CC", "bfin-linux-uclibc-gcc"},
		{"STAGING_DIR", "~/Projects/Lumenosys/blackfin/lumenosys-adi-buildroot/output/host/usr/bfin-buildroot-linux-uclibc/sysroot"},
 	    {"CFLAGS", "-Wall -O3 -fpic -funroll-loops -ffast-math -fomit-frame-pointer -mcpu=bf537-0.3 -I ${STAGING_DIR}/usr/lib/erlang/usr/include"}
 	   ]}.

{port_specs, [
	      {"(linux|freebsd|darwin)","priv/libiio_nif.so",
	       [ "c_src/iio_nif.c"
	       ]}
	     ]}.

%% {edoc_opts, [{doclet, edown_doclet}]}.
%%{ct_extra_params, " -spec test/tunnel_port.spec"}.

{post_hooks, [{"linux", compile, "${STRIP} priv/*"}]}.
